
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: rgb(19, 18, 18);
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

.navContainer {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(238, 238, 233);
    color: rgb(24, 23, 23);
}

.navLogo {
    margin: 0 0 0 2rem;
}

.navLogo a p {
    font-weight: 500;
    font-size: 2rem;
}

.navLogo a {
    color: rgb(24, 23, 23);
}

.navContainer ul {
    display: flex;
    margin: 0 2rem 0 0;
}

.navContainer ul li {
    margin: 0 1rem;
}

.navContainer ul li a {
    color: rgb(24, 23, 23);
    font-weight: 700;
}

.navContainer ul li a:hover {
    color: rgb(94, 92, 92);
}

.videoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 0 0;
}

.videoCardContainer {
    padding: .5rem 1rem;
    margin: 1.5rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.videoInfo {
    width: 560px;
}

.tituloInfo {
    color: rgb(238, 238, 233);
    font-size: 1.2rem;
    font-weight: 300;
}

@media (max-width: 600px) {
    .video iframe {
        width: 400px;
        height: 225px;
        margin: auto;
    }

    .videoInfo {
        width: 400px;
    }

    .tituloInfo {
        font-size: 1rem;
    }

    .navContainer ul {
        display: flex;
        margin: 0 1rem 0 0;
    }
    
}

@media (max-width: 450px) {
    .video iframe {
        width: 320px;
        height: 160px;
        margin: auto;
    }

    .videoInfo {
        width: 320px;
    }

    .tituloInfo {
        font-size: .95rem;
    }
}

@media (max-width: 360px) {
    .video iframe {
        width: 300px;
        height: 140px;
        margin: auto;
    }

    .videoInfo {
        width: 300px;
    }

    .tituloInfo {
        font-size: .9rem;
    }
}